# Timezone
TZ=UTC

# Domain
DOMAINNAME=example.com
DOMAINNAME_CLOUD_SERVER=example.com

# Paths
DOCKERDIR=/home/user/docker-traefik-cloudflare-dns
APPDIR=${DOCKERDIR}/appdata
LOGDIR=${DOCKERDIR}/logs
CERTDIR=${DOCKERDIR}/certs

# InfluxDB
INFLUXDB_USER=admin
INFLUXDB_ORG=myorg
INFLUXDB_BUCKET=default

# User/Group IDs
PUID=1000
PGID=1000