global:
  checkNewVersion: true
  sendAnonymousUsage: false
ping:
  entryPoint: ping
entryPoints:
  http:
    address: ':80'
    http:
      redirections:
        entryPoint:
          to: https
          scheme: https
  https:
    address: ':443'
    http:
      tls:
        certResolver: dns-cloudflare
        domains:
          - main: <SITE.COM>
            sans:
              - '*.<SITE.COM>'
  ping:
    address: ':8082'
api:
  dashboard: true
  insecure: false
log:
  filePath: /logs/traefik.json
  format: json
  level: INFO
  maxSize: 50
  maxAge: 14
  maxBackups: 5
  compress: true
accessLog:
  filePath: /logs/access.json
  format: json
  bufferingSize: 100
  filters:
    retryAttempts: true
    statusCodes:
      - 200-599
  fields:
    names:
      StartUTC: drop
certificatesResolvers:
  dns-cloudflare:
    acme:
      caServer: https://acme-staging-v02.api.letsencrypt.org/directory # Use staging during testing!
      # caServer: 'https://acme-v02.api.letsencrypt.org/directory'
      email: DNS@<SITE.COM>
      storage: /acme.json
      dnsChallenge:
        provider: cloudflare
        propagation:
          delayBeforeChecks: 90s
        resolvers:
          - '1.1.1.1:53'
          - '1.0.0.1:53'
# metrics:
#   influxDB2:
#     addEntryPointsLabels: true
#     addServicesLabels: true
#     addRoutersLabels: true
#     address: 'http://influxdb:8086'
#     bucket: default
#     org: myorg
#     pushInterval: 30s
#     token: >-
#       2-EaJRcLN_Cee6-------------------------------T-PCQ8vkt8-Cbtrdh8xHn5VGdiQ==
#     additionalLabels:
#       environment: production
#       host: <SITE.COM>
providers:
  docker:
    endpoint: 'tcp://socket-proxy:2375'
    exposedByDefault: false
    network: net_t2
  file:
    directory: /etc/traefik/rules
    watch: true
tls:
  options:
    default:
      minVersion: VersionTLS12
      cipherSuites:
        - TLS_ECDHE_ECDSA_WITH_AES_256_GCM_SHA384
        - TLS_ECDHE_RSA_WITH_AES_256_GCM_SHA384
        - TLS_ECDHE_ECDSA_WITH_AES_128_GCM_SHA256
        - TLS_ECDHE_RSA_WITH_AES_128_GCM_SHA256
        - TLS_ECDHE_ECDSA_WITH_CHACHA20_POLY1305
        - TLS_ECDHE_RSA_WITH_CHACHA20_POLY1305
      curvePreferences:
        - CurveP521
        - CurveP384
        - CurveP256
      sniStrict: true
    mintls13:
      minVersion: VersionTLS13
      cipherSuites:
        - TLS_AES_128_GCM_SHA256
        - TLS_AES_256_GCM_SHA384
        - TLS_CHACHA20_POLY1305_SHA256
      curvePreferences:
        - CurveP521
        - CurveP384
        - CurveP256
      sniStrict: true
